.p-cfpform.Flex7 {
display: flex;
flex-direction: column;
row-gap: 10px;
margin-left: 10px;
}
.p-cfpform.Div10 {
;
}
.p-cfpform.Div11 {
;
}
.p-cfpform.Div13 {
;
}
.p-cfpform.Div15 {
margin-left: 10px;
margin-top: 10px;
}
.p-cfpform.Flex11 {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #171515;
color: #ffffffff;
height: 40px;
}
.p-cfpform.Div19 {
align-self: center;
}
.p-cfpform.TextBox13 {
;
}
.p-cfpform.TextBox17 {
;
}
.p-cfpform.Input10 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
margin-top: 10px;
}
.p-cfpform.Input11 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
margin-top: 10px;
}
.p-cfpform.TextBox18 {
;
}
.p-cfpform.TextBox20 {
;
}
.p-cfpform.Input13 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
margin-top: 10px;
}
.p-cfpform.Button4 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-left: 10px;
}
.p-cfpform.Button5 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-cfpform.TextBox24 {
color: #ffffffff;
align-self: center;
}
.p-cfpform.Link31 {
align-self: center;
}
.p-cfpform.Link32 {
padding-left: 10px;
padding-right: 10px;
align-self: center;
}
.p-cfpform.Link33 {
padding-right: 10px;
}
